@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="/friends.bundle.js"></script>
}

@section ToolbarContent
{
    <input id="node_id" placeholder="User id" type="number" min="1" step="1"/>

    <button id="add_nodes">Add user</button>
}