@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="/groups.bundle.js"></script>
}

@section ToolbarContent
{
    <input id="node_id" placeholder="Group id" type="number" max="-1" step="1"/>

    <button id="add_nodes">Add group</button>
}